@model IEnumerable<PortalKorepetycyjny.Models.Advertisment>

@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/index")

<h3>Szukaj</h3>

<form method="get" action="@Url.Action("Index")"
      data-advertisement-ajax="true" data-advertisement-target="#advertisementList">
    <input type="search" name="searchTerm" />
    <input type="submit" value="Szukaj" />
</form>

@Html.Partial("_Advertisements", Model)